<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip_id %><br />
    <%= f.select :ip_id, options_for_select(@ip_array) %>
  </div>
  <div class="field">
    <%= f.label :port_id %><br />
    <%= f.select :port_id, options_for_select(@port_array) %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, options_for_select(@account_array) %>
  </div>
  <div class="field">
    <%= f.label :need_delete %><br />
    <%= f.number_field :need_delete %>
  </div>
  <div class="field">
    <%= f.label :need_restart %><br />
    <%= f.number_field :need_restart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
