<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<h1>Listing instances</h1>

<table>
  <tr>
    <th>Ip</th>
    <th>Port</th>
    <th>Account</th>
    <th>Need delete</th>
    <th>Need restart</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.ip.name %></td>
    <td><%= instance.port.name %></td>
    <td><%= instance.account.username %></td>
    <td><%= instance.need_delete %></td>
    <td><%= instance.need_restart %></td>
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'test_ssh', :action => 'test_ssh', :id => instance.id %></td>
    <td><%= link_to 'Command', :action => 'command', :id => instance.id %></td>
    <td><%= link_to 'Deploy', :action => 'deploy', :id => instance.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
<%= link_to 'Read deploy', :action=>'read_deploy' %>
<br />
<%= link_to 'Manage IP', ips_path %>
<%= link_to 'Manage Port', ports_path %>
<%= link_to 'Manage Account', accounts_path %>
<%= link_to 'Manage Path', paths_path %>
<%= link_to 'Manage Command', commands_path %>
<%= link_to 'Manage Packages', packages_path %>
