<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% else %>
	<% @instance_array.each do |instance| %>
		<b>IP:</b>
		<%= instance["ip"] %>
		<br />
		<b>Username:</b>
		<%= instance["username"] %>
		<br />
		<b>common:</b>
		<%= instance["common"] %>
		<br />
		<b>mall:</b>
		<%= instance["mall"] %>
		<br />
		<b>payment:</b>
		<%= instance["payment"] %>
		<br />
		<br />
	<% end %>

<% end %>

<% @instance_array.each do |instance| %>
		<b>IP:</b>
		<%= instance["ip"] %>
		<br />
		<b>Username:</b>
		<%= instance["username"] %>
		<br />
		<b>common:</b>
		<%= instance["common"] %>
		<br />
		<b>mall:</b>
		<%= instance["mall"] %>
		<br />
		<b>payment:</b>
		<%= instance["payment"] %>
		<br />
		<br />
	<% end %>

<br />
<%= link_to 'Back', instances_path %>
