<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @instance.ip_id %>
</p>

<p>
  <b>Port:</b>
  <%= @instance.port_id %>
</p>

<p>
  <b>Account:</b>
  <%= @instance.account_id %>
</p>

<p>
  <b>Need delete:</b>
  <%= @instance.need_delete %>
</p>

<p>
  <b>Need restart:</b>
  <%= @instance.need_restart %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
